main{
    article{
        font-size: 0.8em;
        color: teal;
        background-color: orange;
            aside {
                color: rgb(98, 98, 232);
                background-color: purple;
            }
    }
}